# --- Основное ---
Django
djangorestframework
django-filter

# --- Аутентификация и безопасность ---
djangorestframework-simplejwt
passlib
cryptography

# --- Работа с БД ---
psycopg2-binary

# --- Конфигурации и CORS ---
python-decouple
django-cors-headers

# --- Документация и API ---
drf-yasg

# --- Импорт, экспорт и офисные файлы ---
django-import-export
openpyxl
python-docx

# --- PDF и изображения ---
Pillow
reportlab
xhtml2pdf  # можно удалить, если используешь только reportlab

# --- Формы и Bootstrap ---
crispy-bootstrap5

# --- JWT и токены ---
PyJWT  # можно удалить, если хватает simplejwt
