<!-- Document Preview Modal -->
<div class="modal fade" id="documentPreviewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">Просмотр документа</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="documentPreviewContent" class="doc-preview">
                    <!-- Document preview content will be loaded here -->
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="downloadPreviewDocument" class="btn btn-success" download>
                    <i class="fas fa-download mr-1"></i> Скачать
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-times mr-1"></i> Закрыть
                </button>
            </div>
        </div>
    </div>
</div>

<script>
$(function() {
    // Update download link when modal opens
    $('#documentPreviewModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var documentUrl = button.data('document-url');
        $('#downloadPreviewDocument').attr('href', documentUrl);
    });
});
</script>